@import "../abstracts/__colors";
@import "../abstracts/__fonts.scss";

header
{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0 10%;
    z-index: 999;
    background: var(--neutral-white);

    img.hamburger
    {
        display: none;
    }

    img.x
    {
        display: none;
        cursor: pointer;
    }

    nav
    {
        ul
        {
            li
            {
                display: inline-block;
                list-style: none;
                padding-left: 2rem;

                a
                {
                    text-decoration: none;
                    color: var(--neutral-grayish-blue);
                    font-weight: var(--medium-weight);
                    letter-spacing: .5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) 
{
    header
    {
        img.hamburger
        {
            display: block;
            cursor: pointer;
        }

        img.open
        {
            display: block;
        }

        img.close
        {
            display: none;
        }

        img.open_ham
        {
            display: block;
        }

        img.close_icon
        {
            display: none;
        }

        nav
        {
            display: none;
        }

        button
        {
            display: none;
        }
    }

    header.show
    {
        height: 55px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-top: 23px;
        z-index: 999;

        img.logo
        {
            margin-right: auto;
        }

        nav
        {
            display: block;
            margin: 2rem auto 0 auto;
            height: 300px;
            width: 400px;
            z-index: 99;
            background: #fff;
            position: relative;
            padding-top: 2rem;
            border-radius: 10px;
            
            ul
            {
                li
                {
                    display: block;
                    font-size: 1.1rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
        }

        img.open
        {
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 425px) 
{
    header.show
    {
        nav
        {
            height: 225px;
            width: 295px;
            
            ul
            {
                li
                {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}